/*
Color Palette

#def0ee
#ff496c - pink
#ffffee - yellow
#000080 - navy


 */
body {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: 'Work Sans', sans-serif;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 200px;
  background-color: #ffffee;
  border-right: 1px solid black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
}

#navbar>header {
  font-weight: bold;
  font-size: 1.2em;
  text-align: right;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-top: 10px;
}

#nav-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nav-content>a {
  border-top: 1px solid black;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  /* flex-shrink: 1; */
}

#nav-content>a:last-child {
  flex-grow: 1;
}

#main-doc {
  margin-left: 225px;
  padding-top: 20px;
}

.main-section>header {
  font-size: 1.3em;
  font-weight: bold;
}

.main-section>p {
  padding-left: 15px;
}

.main-section>p>code, code>pre {
  /* padding-left: 25%; */
  margin-left: 25%;
  padding: 5px;
  font-size: 1.5em;
  background-color: rgba(10, 10, 96, 0.15);
  border-radius: 10px;
  display: inline-block;
}

.main-section li {
  font-size: 0.9em;
}

a, a:visited {
  text-decoration: none;
  color: #000080;
  font-weight: bold;
}

a:hover {
  color: #ff496c;
}

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2), (max-width: 600px) {
  #navbar {
    width: 100%;
    height: auto;
    position: absolute;
  }

  #nav-content>a {
    /* flex-direction: row;*/
    justify-content: flex-start;
    text-align: left;
    padding: 5px;
    border: 0;
    border-top: black solid 1px;
  }

  #nav-content>a:last-child {
    border-bottom: black solid 1px;
  }

  #navbar>header {
    text-align: center;
  }

  #main-doc {
    margin-left: 0px;
    margin-top: 320px;
  }

  .main-section>p>code, code>pre {
    margin-left: 5%;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  #main-doc {
    margin-top: 500px;
  }
}
